<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ElasticSearch.DefaultServer" value="http://localhost:9200/" />
    <add key="ElasticSearch.DefaultIndex" value="fulltextbancadati_test" />
    <add key="ElasticSearch.BasicAuthEnabled" value="false" /> <!--BDC-324-->
    <add key="ElasticSearch.BasicAuthUsername" value="adanzica" /> <!--BDC-324-->
    <add key="ElasticSearch.BasicAuthPassword" value="nreqnEugfbKMJF2Q" /> <!--BDC-324-->
    <add key="ElasticSearch.DisableAutomaticProxyDetection" value="true" /><!--BDC-324-->
  </appSettings>
</configuration>